<div class="headerbox shadow-sm">
	<div class="brandbox">
		<div class="container-fluid">
      <div class="row">
        <a class="navbar-brand">
          <img id="brandimage" src="assets/img/logo-abn-amro-clearing-svg.svg" height="30">
        </a>
        <span id="brandtitle">MICS Automation</span>
      </div>
		</div>
  </div> 
 
  <div class="navbox">
		<div class="container-fluid">
      <div class="row">
        <svg id="brandimageappend" xmlns="http://www.w3.org/2000/svg" height="16.5" width="33" version="1.1">
          <g transform="matrix(1.32 0 0 1.375 -275.38 -266.62)">
            <path style="fill:#ffffff" transform="matrix(.061570 -.00084561 .0015260 .034118 203.75 187.2)" d="m268.57 555.22-97.16-178.19-97.165-178.19l202.9 4.9487 202.9 4.9487-105.73 173.24z"/>
          </g>
        </svg>

        <nav class="navbar navbar-default navbar-expand-lg">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnavbar" aria-controls="mainnavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="mainnavbar">

            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" routerLink="/view/dashboard" routerLinkActive="active"><i class="fas fa-tachometer-alt fa-lg"></i>&nbsp;&nbsp;Dashboard</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
		</div>
	</div>
</div>